.upper-container {
  align-items: start;
  background-color: rgba(65, 25, 127, 1);
  display: flex;
  height: 50vh;
  justify-content: center;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.upper-container > img {
  height: 10rem;
  width: 12.3rem;
}

.tomatoes {
  bottom: -5rem;
  left: 0;
  min-height: 90%;
  min-width: 90%;
  position: absolute;
}

.bottom-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
}

h2 {
  color: rgba(65, 25, 127, 1);
  font-family: ' Epilogue' , sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 2rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

input {
  border: 0.5px solid rgba(65, 25, 127, 1);
  border-radius: 5px;
  height: 2.5rem;
  margin-top: 0.5rem;
  outline: none;
  padding: 1rem;
  width: 17.25rem;
}

.login-btn {
  background-color: rgb(252, 196, 54);
  border-radius: 5px;
  color: white;
  font-family: ' Epilogue' , sans-serif;
  font-weight: 600;
  height: 2.5rem;
  margin-top: 1rem;
  width: 17.25rem;
}

.login-btn:disabled {
  background-color: rgb(252, 196, 54);
  color: white;
  opacity: 0.5;
}
