input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background-color: #8e9396;
  width: 3rem;
  height: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.7s ease;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 20px;
  transform: scale(0.8);
  transition: all 0.7s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

input[type="checkbox"]:checked::before {
  background-color: black;
  left: 1.5rem;
}

input[type="checkbox"]:checked {
  background-color: white;
}