.notFound-container {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding: 2rem 1rem;
}

.notFound-container > h1 {
  padding: 0 1rem;
  text-align: justify;
  font-family: var(--font-title);
}

.notFound-container > img {
  max-width: 18.75rem;
}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: var(--color-main-dark);
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  max-width: 10rem;
}