.user-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100vw;
  height: 100vh;
}

.user-container > h1 {
  padding: 1rem;
  color: var(--color-text);
  font-family: var(--font-title);
  font-size: calc(--title-default-size) * 2;
}

.user-container > p {
  padding: 1rem;
  color: var(--color-text);
  font-family: var(--font-text);
}

.user-container > img {
  align-self: center;
  max-width: 18.75rem;
}

.favorite-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.logout {
  background-color: var(--color-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border: 0 none;
  outline: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: var(--text-default-size) * 1.5;
  cursor: pointer;
}